@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.ReadModel

@{
    ViewData["Title"] = "Read page";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Read</h1>



<div class="container">
    <div class="row">
        <div class="col-sm">
            <div><img class="card-img" src='@Model.Product.Image' alt='Image for @Model.Product.Title'></div>
        </div>
        <div class="col-sm">
            <h2 class="title" id="productTitle">@Model.Product.Title</h2>

            <div class="card-text">
                <h2>Restaurant: <a href=@Model.Product.Url>@Model.Product.Restaurant</a></h2>
            </div>
            <p class="card-text">Price: $@Model.Product.Price</p>
            <p class="card-text">@Model.Product.Description</p>
            <p class="card-text">Cuisine: @Model.Product.Cuisine</p>
            <p class="card-text">Location: @Model.Product.Address @Model.Product.City, @Model.Product.State</p>

            <p class="card-text">Reviews:</p>
            @if (Model.Product.Reviews != null)
            {
                foreach (var review in Model.Product.Reviews)
                {
                    <p class="card-text">"@review.Review"</p>
                }
            }

            @{
                var numOfVotes = 0;

                if (Model.Product.Ratings != null)
                {
                    numOfVotes = Model.Product.Ratings.Length;
                }

                var voteLabel = numOfVotes > 1 ? "Votes" : "Vote";

                if (numOfVotes == 0)
                {
                    <span>Be the first to vote!</span>
                }
                else
                {
                    <span>@Model.Product.Ratings.Length @voteLabel</span>
                }
                for (int i = 1; i < 6; i++)
                {
                    int currentStar = i;
                    if (i <= Model.Product.GetCurrentRating())
                    {
                        <span class="fa fa-star checked"></span>
                    }
                    else
                    {
                        <span class="fa fa-star"></span>
                    }
                }
            }
        </div>
    </div>
</div>

<br />
<br />

<div class="row">
    <a asp-page="Update" asp-route-id="@Model.Product.Id" class="btn btn-primary">Update</a> &nbsp; &nbsp;
    <a asp-page="Delete" asp-route-id="@Model.Product.Id" class="btn btn-danger">Delete</a>
</div>

<style>
    body {
        background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url('https://www.maxpixel.net/static/photo/1x/Beverage-Mugs-Snacks-Pattern-Donut-Food-6043572.png');
        background-repeat: repeat;
        background-attachment: fixed;
    }
</style>