@page
@using ContosoCrafts.WebSite.Services
@inject JsonFileProductService ProductService
@model ContosoCrafts.WebSite.Pages.Product.SearchModel

@{
    ViewData["Title"] = "Search page";
}

<h1>Search Dishes</h1>
<form id="f_search" method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    Search
                </button>
            </span>
        </div>
    </div>
</form>

@{

    if (Model.searched())
    {
        foreach (var product in Model.Products)
        {
            <h5 class="title" id="productTitle">@product.Title</h5>

            <img class="card-img" src='@product.Image' alt='Image for @product.Title'>
            <div class="card-text">
                <h2>Restaurant: <a href=@product.Url>@product.Restaurant</a></h2>
            </div>
            <p class="card-text">Price: $@product.Price</p>
            <p class="card-text">@product.Description</p>
            <p class="card-text">Cuisine: @product.Cuisine</p>
            <p class="card-text">Location: @product.Address</p>
        }
    }



}




<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



